#containerRed{
  background-color: white;
  height: 50px;
  width: 400px;
}
#containerOrange{
  background-color: white;
  height: 50px;
  width: 400px;

}
#containerYellow{
  background-color: white;
  height: 50px;
  width: 400px;

}
#containerGreen{
  background-color: white;
  height: 50px;
  width: 400px;
}
#containerBlue{
  background-color:white;
  height: 50px;
  width: 400px;
}
#containerPurple{
  background-color: white;
  height: 50px;
  width: 400px;
}
#containerLightpurple{
  background-color: white;
  height: 50px;
  width: 400px;
}
.Rainbow{
  text-align: center;
}